@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

:root {
    --font: 'Open Sans';
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d346b9;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #6ae0c0;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #656263;
    --gray-dark: #343a40;
    --primary: #1a2155;
    --secondary: #5b46f9;
    --success: #00ff3c;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --animation-delay: .15s;
}

/* ANIMACIONES */
@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -400px -400px;
    }
}

.w3-animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HTML */

html, body {
    font-family: 'Rubik';
    height: 100%;
    /* background-image: url('../assets/adult-connection-data-839465.jpg'); */
    background: rgb(26, 33, 85);
    background: linear-gradient(25deg, rgba(26, 33, 85, 1) 0%, rgba(9, 9, 121, 1) 30%, rgba(91, 70, 249, 1) 100%);
    background-position: center;
    background-size: auto;
    align-items: center;
}
body {
        padding: 20px;
    /* transparent background-image */
    background-image: url("https://www.transparenttextures.com/patterns/graphy-dark.png");
    transition: -webkit-transform .5s ease-in-out;
    -webkit-animation: slide 10s cubic-bezier(.68, -0.55, .27, 1.55) infinite;
}

h1 {
    color: var(--white);
}

/* BOTONES */
.btn-outline-success {
    color: white;
    background-color: var(--secondary);
    border-color: transparent;
    border-radius: 5px;
    transition: padding var(--animation-delay) ease-in-out, font-size var(--animation-delay) ease-in-out;
}

.btn-outline-success:hover {
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
    font-size: large;
    /* background-image: url("https://www.transparenttextures.com/patterns/graphy-dark.png"); */
    -webkit-animation: slide 10s linear infinite;
    transition: padding var(--animation-delay) ease-in-out, font-size var(--animation-delay) ease-in-out;
}

.btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem var(--primary);
    transition: box-shadow var(--animation-delay) ease-in-out, padding var(--animation-delay) ease-in-out, font-size var(--animation-delay) ease-in-out;
}

.btn-outline-success:focus:hover {
    box-shadow: 0 0 0 0.2rem var(--pink);
    transition: box-shadow var(--animation-delay) ease-in-out, padding var(--animation-delay) ease-in-out, font-size var(--animation-delay) ease-in-out;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: white;
    background-color: var(--primary);
    box-shadow: 0 0 0 0.2rem pink;
    transition: box-shadow var(--animation-delay) ease-in-out;
}

.expanded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.banner-overlay {
    background-image: url("https://www.transparenttextures.com/patterns/graphy-dark.png");
    transition: -webkit-transform .5s ease-in-out;
    -webkit-animation: slide 10s cubic-bezier(.68, -0.55, .27, 1.55) infinite;
}

/* FORMULARIO */
#campos {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.inputFirma {
    width: 100%;
    display: flex;
    margin: 3px;
    padding: 5px;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
    transition: box-shadow var(--animation-delay) ease-in-out, padding var(--animation-delay) ease-in-out, transform var(--animation-delay) ease-in-out;
}

.inputFirma:hover {
    border-color: var(--primary);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    transition: box-shadow var(--animation-delay) ease-in-out, transform var(--animation-delay) ease-in-out;
}


#container {
    display: flex;
    justify-content: center
}

#resultado {
    width: 500px;
    height: 200px;
    background-color: white;
    overflow-y: scroll;
}

.creditos {
    margin: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    color: white;
}

.creditos:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top 0s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-blurred-bottom {
    /*  -webkit-animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both; */
    animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
    text-align: center !important;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}